<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mypage-info-container">
      <div class="row">
        <div class="col-md-5 user-container">
          <h1>ユーザー情報</h1>
          <div class="user-info-container">
            <div class="row row-center">
              <div class="col-md-12">
                <% if @user.image.url != nil %>
                  <%= image_tag @user.image.url, :size => "300x215" %>
                <% else %>
                  <%= image_tag 'noimage.jpg', :size => "300x215" %>
                <% end %>
              </div>
            </div>
            <div class="user-info-text">ユーザー名：
              <%= @user.name %>
            </div>
            <div class="user-info-text">メールアドレス：
              <%= @user.email %>
            </div>
            <div class="user-info-text">好きなスポーツ：
              <%= @user.splike %>
            </div>
            <div class="user-info-text">コメント：
              <%= @user.comment %>
            </div>
            <div class="row row-center">
              <div class="col-md-12">
                <%= link_to users_edit_path do %>
                  <button type="submit" class="btn">編集</button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7 calendar-container">
          <h1>イベント日程</h1>
          <div id="calendar"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'calender.js' %>
