<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 search-container">
      <h1 class="text-center">スポーツイベントを探す</h1>
      <div class="row">
        <div class="col-md-12 kind-container">
          <h2>キーワード検索</h2>
          <div class="row row-center">
            <div class="col-md-10">
              <%= form_tag({action: :keyword}, {method: :get}) do %>
                <div class="row row-center">
                  <div class="col-md-9">
                    <div class="form-group">
                      <%= text_field_tag 'keyword','', :placeholder => 'イベント名' %>
                      <%= submit_tag "検索", class: 'btn', :id => 'keyword_submit' %>
                      <div id="input_keyword"></div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-12 kind-container">
          <h2>カテゴリー検索</h2>
          <%= form_tag({action: :category}, {method: :get}) do %>
            <div class="row">
              <div class="col-md-offset-1 col-md-10 datasels-container">
                <div class="datasels_title" style="display: inline-block; _display: inline;">ステップ1</div>
                <div class="datasels_content" style="display: inline-block; _display: inline;">スポーツ種目を選択してください。※複数選択できます！！</div>

                <p class="text-center">
                  <%= check_box 'eve','s1',{},'1','0' %>
                  <%= label_tag :eve, "野球　" %>
                  <%= check_box 'eve','s2',{},'2','0' %>
                  <%= label_tag :eve, "サッカー　" %>
                  <%= check_box 'eve','s3',{},'3','0' %>
                  <%= label_tag :eve, "テニス　" %>
                  <%= check_box 'eve','s4',{},'4','0' %>
                  <%= label_tag :eve, "バスケットボール　" %>
                  <%= check_box 'eve','s5',{},'5','0' %>
                  <%= label_tag :eve, "ゴルフ　" %>
                  <%= check_box 'eve','s6',{},'6','0' %>
                  <%= label_tag :eve, "卓球　" %>
                  <%= check_box 'eve','s7',{},'7','0' %>
                  <%= label_tag :eve, "ラグビー　" %>
                </p>
                <p class="text-center">
                  <%= check_box 'eve','s8',{},'8','0' %>
                  <%= label_tag :eve, "バレーボール　" %>
                  <%= check_box 'eve','s9',{},'9','0' %>
                  <%= label_tag :eve, "水泳　" %>
                  <%= check_box 'eve','s10',{},'10','0' %>
                  <%= label_tag :eve, "その他" %>
                </p>
                <div class="text-center" id="error_sportscheck"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-1 col-md-10 datasels-container">
                <div class="datasels_title" style="display: inline-block; _display: inline;">ステップ2</div>
                <div class="datasels_content" style="display: inline-block; _display: inline;">開催日時、場所を選択してください。</div>
                <p><div class="datasels_title" style="display: inline-block; _display: inline;">日時</div>
                  <label>開始日</label>
                    <%=date_field_tag :datest %>　 〜　
                    <label>終了日</label>
                    <%=date_field_tag :dateen %>
                </p>
                <div class="text-center" id="error_start_date"></div>
                <div class="text-center" id="error_end_date"></div>
                <div class="text-center" id="error_st_dateover"></div>

                <p><div class="datasels_title" style="display: inline-block; _display: inline;">場所</div>
                   <%= select_tag 'place[name]', options_for_select([["北海道","北海道"],["青森","青森"],["岩手","岩手"],["秋田","秋田"],["宮城","宮城"],
                      ["山形","山形"],["福島","福島"],["群馬","群馬"],["栃木","栃木"],["茨城","茨城"],["埼玉","埼玉"],["千葉","千葉"],["東京","東京"],
                      ["山梨","山梨"],["静岡","静岡"],["長野","長野"],["新潟","新潟"],["富山","富山"],["福井","福井"],["石川","石川"],["愛知","愛知"],["岐阜","岐阜"],["三重","三重"],
                      ["滋賀","滋賀"],["京都","京都"],["奈良","奈良"],["和歌山","和歌山"],["大阪","大阪"],["兵庫","兵庫"],["岡山","岡山"],["広島","広島"],["島根","島根"],
                      ["鳥取","鳥取"],["山口","山口"],["香川","香川"],["徳島","徳島"],["愛媛","愛媛"],["高知","高知"],["福岡","福岡"],["大分","大分"],["長崎","長崎"],["熊本","熊本"],
                      ["佐賀","佐賀"],["宮崎","宮崎"],["鹿児島","鹿児島"],["沖縄","沖縄"]]) %>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-4 col-md-4 submit-container">
                <%= submit_tag "検索", class: 'btn-block', :id => 'category_submit' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
